<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>    
    <add name="hotel_My" connectionString="Data Source=HotelDB.mssql.somee.com;initial Catalog=HotelDB; user id=Michail3843_SQLLogin_1;pwd=tdtjxci4i7"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>